*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
 font-family: 'Roboto', sans-serif;
}

$colors:(
  banner-bg: url('./images/Endless-Constellation.svg'),
  accent-color1: rgb(40, 175, 253),
  accent-color2: rgb(228, 3, 216),
  banner-font-color: white,
  menu-btn-color: white,
  banner-discription-color: rgb(204, 204, 204),
);

@function colors($color){
  @return map-get($map: $colors, $key: $color);
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1500px;
}

body{
  height: 2000px;
}

/*nav*/
nav{
   position: sticky;
   background: colors(banner-bg);
   color: colors(banner-font-color);
   display: flex;
   justify-content: center;
   height: fit-content;
   width: 100%;
   top:0;
   padding: 5px 0;
 .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
    height: fit-content;
    max-width: 1500px;
    .logo{
      width: 50px;
    }
   .menu-btn{
     cursor: pointer;
     width: 30px;
     height: 30px;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     justify-content:space-around;
     align-items: center;
     z-index: 10;
     span{
       width: 90%;
       height: 4px;
       display: block;
       border-radius: 3px;
       background: colors(menu-btn-color);
       transform-origin: -3%;
       transition: transform 300ms linear, opacity 300ms  linear;
     
     }
     .menu-btn-color-change{
       background: black;
     }
   }
   
   .menu-btn-animation-1{
     transform: rotate(45deg);
   }
   .menu-btn-animation-2{
     transform: translateX(-100%);
     opacity: 0;
     
   }
   .menu-btn-animation-3{
      transform: rotate(-45deg);
      
   }
   
    .menu{
      display: flex;
      text-transform: capitalize  ;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: white;
      top: 0;
      left: 0;
      transform: translateX(100%);
      li{
        margin: 10px;
        a{
          padding: 10px;
          display: block;
          color: black;
          font-size: 1.3em;
          font-weight: bold;
        }
        .demo-btn{
          background: linear-gradient(to right, colors(accent-color1), colors(accent-color2));
          border-radius: 35px;
          padding: 20px 40px;
          color: white;
          font-size: 1.1em;

        }
      }
    }
    .menu-animation{
     transform: translateX(0%)
   }
 }
 
}

/*banner */
.banner{
   background: colors(banner-bg);
  color: colors(banner-font-color);
  padding: 30px 0;
  position: relative;
  z-index: -10;
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  .banner-content{
    .title{
     font-family: 'Satisfy', cursive;
     font-size: 1.7em;
     color: colors(accent-color1)
    }
    .caption{
      font-size: 2.5em;
      font-weight: bold;
      line-height: 0.9;
      text-transform: capitalize;
      margin: 20px 0;
    }
    .description{
      font-size: 0.9em;
      color: colors(banner-discription-color);
    } 
    .links{
       display: flex;
       flex-direction: column;
       margin: 20px 0;
      .demo-btn{
         
          background: linear-gradient(to right, colors(accent-color1), colors(accent-color2));
          border-radius: 35px;
          padding: 15px 30px;
          color: colors(banner-font-color);
          text-transform: capitalize;
          display: block;
          width: fit-content;
        
        }
        .video{
          display: flex;
          align-items: center;
          margin: 15px 10px;
             .play-btn{
               img{
                 width: 15px;
               }
               padding: 20px;
               border-radius: 50%;
               background: rgba(92, 92, 92, 0.637);
               width: fit-content;
               display: flex;
               align-items: center;
               justify-content: center;
             }
             span{
               margin-left: 20px;
               font-size: 0.9em;
             }
        }
    }
  }
  .banner-img{

     img{
       width: 100%;
       margin-bottom: 30px;
     }

  }
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 86px;
}

.wave .shape-fill {
    fill: #FFFFFF;
}


@media (max-width: 767px) {
    .wave svg {
        width: calc(150% + 1.3px);
        height: 36px;
    }
}
  
}



@media only screen and (min-width: 576px){
  nav{
    .wrapper{
      .menu-btn{
        display: none
      }
      .menu{
        position: static;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        transform: none;
        background: none;
          
        li{
          margin: 0 10px;
          a{
            padding: 0;
            font-size: 0.8em;
            color: colors(banner-font-color);
              font-weight: normal;
        
          }
          .demo-btn{
            font-size: 0.8em;
            padding: 10px 15px;
        
          }
        }
      }
    }
  }

  .banner{
    padding-top: 50px;
    .banner-img{
      width: 70%;
      align-self: center;
    }
     .banner-content{
         width: 70%;
        .links{
      .demo-btn{
        margin: 20px 0;
      }
    }
     }
  }
}
@media only screen and (min-width: 768px){
   .banner{
     padding-bottom: 50px;
     .wrapper{
       flex-direction: row;
       align-items: center;
       .banner-img{
          order: 2;
       }
       .banner-content{
         .caption{
           font-size: 3em;
         
         }
         .description{
           width: 70%;
         }
         width: fit-content;
         .links{
           flex-direction: row;
           .video{
             font-size: 0.8em;
             margin-left: 30px;
             .play-btn{
               padding: 20px;
               img{
                 width: 10px;
               }
             }
           }
         }
         .demo-btn{
           font-size: 0.8em;
          
         }
       }
     }
   }
}
@media only screen and (min-width: 992px){
  body{
    font-size: 18px;
  }
  nav{
    .wrapper{
      .menu{
        li{
          margin: 0 20px;
        }
      }
    }
  }
  .banner{
    padding: 80px 0;
     .wrapper{
       .banner-content{
         
         .title{
           font-size: 2em;
         }
         .caption{
           font-size: 4em;;
           margin: 10px 0 50px;
          
           
         }
       }
     }
  }
}

@media only screen and (min-width: 1200px){
  body{
    font-size: 20px;
  }
  .banner{
    .wrapper{
      .banner-content{
        .caption{
          margin-bottom: 80px;
        }
        .demo-btn{
          padding: 20px 30px;
        }
      }
    }
  }
}